@import url(https://fonts.googleapis.com/css?family=Concert+One|Lato&display=swap’);


/*big sections*/
futureOverall {
  /*border: 1px solid red;*/
  display: flex;
  /*padding: 40px;*/
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 10%;
  padding-left: 10%;
}

futureGraph {
  /*border: 1px solid blue;*/
  /*background-color: yellow;*/
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around + safe;
  position: center;
  padding-top: 2%;
  width: 100%;
  padding-bottom: 2%;
  padding-right: 1%;
  padding-left: 1%;
}



futureSummary {
  /*border: 1px solid purple;*/
  display: flex;
  justify-content: center;
  /*padding: 40px;*/
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 10%;
  padding-left: 10%;
}

/*boxes within the big sections*/
futureOverViewBox {
  flex: auto;
  background-color: green;
  /*border: 1px dotted green;*/
  font-family: 'Concert One', cursive;
  text-align: center;
  margin: 20px;
  padding: 20px;
  box-shadow: 4px 8px 20px #a1a1a1;
}

.overViewH1 {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.overViewP{
  color: black;
}

futureDiagramBox {
  /*border: 1px dotted green;*/
  font-family: 'Lato', sans-serif;

  /*margin: 20px;*/
  /*padding-right: 5%;
  padding-left: 5%;*/
  box-shadow: 4px 8px 20px #a1a1a1;
}

futureSummaryBox {
  flex: auto;
  font-family: 'Lato', sans-serif;
  background-color: white;
  /*border: 1px dotted green;*/
  text-align: left;
  margin: 20px;
  padding: 20px;
  box-shadow: 4px 8px 20px #a1a1a1;
}
.summaryH1{
  font-weight: bold;
  font-size: 20px;
}

.summaryP {
  color: black;
}

/*For button*/
.future-button{
  display: center;
  position: relative;
  border-radius: 4px;
  background-color: #D41243;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.future-save-button{
  display: center;
  position: relative;
  border-radius: 4px;
  background-color: #D41243;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.future-modal-button {
  font-size: 12px;
}
.future-modal-button > .button-header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.future-modal-button > .button-content {
  width: 100%;
  padding: 10px 5px;
}
.future-modal-button > .button-actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.future-modal-button > .future-close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.button-field {
  display: flex;
  justify-content: center;
}

/*
h1 {
  font-weight: bold;
  font-size: 20px;
}
*/