@import url('https://fonts.googleapis.com/css?family=Concert+One|Lato&display=swap');

/* COLORS:

  #00aedb #0083A4  #d41243  #8ec127


*/
.loginpage{
	background-color: #00aedb;
}

#loginh1{
	font-family: 'Concert One', cursive;
	color: white;
	font-size: 400%;
	text-align: center;
}

#loginmainchunk{
	margin-top: 40px;
}

#loginform{
	border-radius: 10px;
	border: 3px solid #8ec127;
	background-color: white;
	margin-top: 30px;
}

#loginaccess{
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin-top: 10px;
	font-size: 130%;
}


.formstuff{
	color: #8ec127;
	font-size: 100%;
	font-weight: bold;
	text-align: left;
	padding-top: 2px;
	margin-bottom: 0px;
	margin-left: 35px;
	font-family: 'Lato', sans-serif;
}

/*input{
	margin-left: 35px;
	margin-bottom: 5px;
}*/

.loginInput {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 5px;
}

#submit{
	margin-left: 80px;
	margin-bottom: 5%;
}

#bottominput{
	margin-bottom: 20px;
}

#loginsubmit{
	background-color: #8ec127;
	border-radius: 5px;
	width: 60%;
}

#logininside{
	text-decoration: none;
	color: white;
	font-family: 'Lato', sans-serif;
}

#loginsubmit:hover{
	background-color: ;
}

#donthaveacct{
	color: white;

}

@media screen and (min-width: 416px){
	#loginform{
		width: 16%;
		margin-left: 42%;
	}

	#donthaveacct{
		margin-left: 40%;
	}

	.loginpage{
		height: 700px;
	}

}


@media screen and (max-width: 415px) {
	#loginform{
		width: 40%;
		margin-left: 30%;
	}

	#donthaveacct{
		margin-left: 16%;
	}

	.loginpage{
		height: 900px;
	}

}
