@import url('https://fonts.googleapis.com/css?family=Concert+One|Lato&display=swap');

/* COLORS:

  #00aedb #0083A4  #d41243  #8ec127


*/
.signuppage{
	background-color: #00aedb;
}

#signuph1{
	font-family: 'Concert One', cursive;
	color: white;
	font-size: 400%;
	text-align: center;
}

#signupmainchunk{
	margin-top: 40px;
}

#signupform{
	border-radius: 10px;
	border: 3px solid #8ec127;
	background-color: white;
	width: 20%;
	margin-left: 20%;
	margin-top: 10px;
}

#signupaccess{
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin-top: 10px;
	font-size: 130%;
}



.formstuff{
	color: #8ec127;
	font-size: 100%;
	font-weight: bold;
	text-align: left;
	padding-top: 2px;
	margin-bottom: 0px;
	margin-left: 10%;
	font-family: 'Lato', sans-serif;
}

/*input{
	margin-left: 35px;
	margin-bottom: 5px;
}*/

.accountInput {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 5px;
}

#submit{
	margin-left: 35%;
	margin-bottom: 5%;
}

#bottominput{
	margin-bottom: 20px;
}

#signupsubmit{
	background-color: #8ec127;
	border-radius: 5px;
	width: 60%;
}

#signupinside{
	text-decoration: none;
	color: white;
	font-family: 'Lato', sans-serif;
}

#signupsubmit:hover{
	background-color: ;
}

#haveacct{
	color: white;
	margin-left: 40%;
}

#passErr {
	color: blue;
}

#emailErr {
	color: blue;
}

/*body {
	background: #00aedb;
}
*/

@media screen and (min-width: 416px){
	#signupform{
		width: 16%;
		margin-left: 42%;
	}

	#haveacct{
		margin-left: 40%;
	}

	.signuppage{
		height: 700px;
	}

}


@media screen and (max-width: 415px) {
	#signupform{
		width: 40%;
		margin-left: 30%;
	}

	#haveacct{
		margin-left: 16%;
	}

	.signuppage{
		height: 900px;
	}

	input{
		width: 50%;
	}

	#submit{
		margin-left: 30px;
	}

}
