@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');

.wizard {
	background: #00aedb;
	color: #8ec127;
	width: 75%;
	margin: auto;
	border: 10px solid #8eaa27;
	border-radius: 20px;
	box-shadow: 20px 20px 50px green;
	color: white;
}

.wizard .stepTitle {
	font-family: 'Concert One', cursive;
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
}

.wizard .qExplain {
	margin: 0;
	margin-bottom: 20px;
	text-align: center;
}

.submitButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 30px;
  margin-top: 0px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid black;
  box-shadow: 10px 5px 50px green;
}

.submitButton:hover {
	background-color: green;
}

.wizard input {
	margin-top: 5px;
	margin-left: 5px;
}
.wizard h3 {
	background: white;
	color: #00aedb;
	
	margin: auto;
	font-family: 'Baloo Thambi 2', cursive;
	width: 50%;
	border-radius: 100px;
}

.nextButtonClass {
	margin: auto;
}

.backButtonClass {
	margin: auto;
}

@media screen and (max-width: 415px) {
	.wizard h3{
		border-radius: 10px;
	}


}	

input[type=radio]{
	margin-left: 2px;
	padding-left: 0px;
	margin-right: 15px;
}
